# python-dotenv==1.0.1
# pandera==0.20.4
# pandas==2.2.3
# openai==1.52.2
# mlflow==2.17.1
# notebook==7.2.2
# pdfminer.six==20240706
# pypdf2==3.0.1
python-dotenv
pandera
pandas
openai
mlflow
notebook
pdfminer.six
pypdf2
jsonschema
llama-index-core
llama-parse
llama-index-readers-file
pytest
#langchain
#langchain-openai